.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 250px;
}

.card-white {
  background-color: #ffffff;
  padding: 8px;
}

.card-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 8px;
}

.card-media {
  color: rgb(162, 162, 162);
  text-align: end;
}

.card-user {
  margin-top: 8px;
  /* background-color: red; */
  display: flex;
  align-items: center;
}

.card-user a {
  color: #79A8CF;
}